.section-title {
  margin-bottom: var(--spacing-5);
}

.section-title .title {
  font-size: 2.5rem;
  margin-bottom: var(--spacing-1);
}

.section-title .subtitle {
  font-size: 1.125rem;
  color: var(--color-text-muted);
  max-width: 600px;
}

.text-center .subtitle {
  margin-left: auto;
  margin-right: auto;
}

.divider {
  height: 4px;
  width: 60px;
  background-color: var(--color-accent);
  margin-top: var(--spacing-2);
  border-radius: 2px;
}

.divider.align-center {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .section-title .title {
    font-size: 2rem;
  }
}
